<div class="center jumbotron">
    <h1>Caturday Surprise</h1>

    <h2>
        This is the home page for 
        <a href="http://cat-bounce.com/">Cats!</a>
        (a sample application).
    </h2>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="center">
    <%= link_to image_tag("kitten.jpg", alt: "Kitten picture",
                           title: "All cats matter"),
                            'http://iheartcats.com/' %>

    <%= link_to image_tag("cute-kitten.jpg", alt: "Cute kitten picture", 
                          title: "Random kittens generator"), 
                          'http://www.randomkittengenerator.com/' %>
</div>